bin/
platform/
sourceengine/
steamapps/
srcds_win64.exe
srcds.exe
ThirdParty*
steam_appid*
garrysmod/cfg/*
garrysmod/html
garrysmod/lua/*
!garrysmod/lua/bin
garrysmod/maps
garrysmod/particles
garrysmod/resource
garrysmod/scenes
garrysmod/settings
garrysmod/*.vbsp
garrysmod/*.vpk
garrysmod/*.ver
garrysmod/*.inf
garrysmod/*.rad
garrysmod/*.txt
garrysmod/*.db
garrysmod/*.cache
garrysmod/download*
garrysmod/gamemodes/*
garrysmod/addons/*
